{% extends "base.html" %}
{% block title %} Article view {% endblock %}
{% block nav %}
<li class="nav-item">
    <a class="nav-link" href="{% url "create_article" %}">Create Article</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url "update_article" article.pk %}">Update Article</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">Delete Article</a>
</li>
{% endblock %}
{% block content %}
<h1>Future article:</h1>
    <h2 style="display:inline-block ">{{ article.title }}</h2>
    <p style="display: inline-block">{{ article.created_at|date:"Y-m-d G:i" }}</p>
    <p>{{ article.content }}</p>
    <p>By: {{ article.author }}</p>

<p><h5><a href="{% url "index" %}">Return to Main</a></h5></p>
{% endblock %}
